<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaNoiCraftCorner"
        tools:targetApi="31">
        <activity
            android:name=".main.admin.AdminUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.admin.AdminCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".main.artisan.ArtisanInfo"
            android:exported="false" />
        <activity
            android:name=".main.artisan.AddProduct"
            android:exported="false" />
        <activity
            android:name=".main.artisan.MainBoardArtisan"
            android:exported="true" />
        <activity
            android:name=".main.forgotpassword.resetpassword.ResetPasswordSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".main.forgotpassword.resetpassword.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".main.forgotpassword.ForgotPasswordVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".main.forgotpassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".main.opening.register.RegisterArtisan"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".main.opening.register.Register"
            android:exported="true" />
        <activity
            android:name=".main.opening.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".main.opening.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.admin.AdminUserManagementActivity"
            android:exported="true"
            tools:node="replace"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.hanoicraftcorner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>